body {
    font-family: 'Roboto', sans-serif;
    background-image: url('https://lh3.googleusercontent.com/proxy/u9PZ8xc1MJBuRHbQ4quIeisXP1UcJ6F8Skgt7NQAKM7Bc1IA8jpFaXfjC-YhSL7OkEyakHTN53ZnGNLDoD2WLnHm7EBgoerYc_v7F15Kz9Gnbe_EG5LBTIGhPKq2DTgMAumChMWlf6yqyUt9yEI');
    background-size: 100%;
    background-repeat: no-repeat;

    background: linear-gradient(-45deg, #a70442, #610382, #5413ee);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}
    
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
        }
    100% {
        background-position: 0% 50%;
    }
}

#container {
    width: 1000px;
    height: 550px;
    margin: 20px auto;
}

#calculator {
    width: 320px;
    height: 520px;
    background-color: #eaedef;
    margin: 0 auto;
    top: 20px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#result {
    height: 120px;
}

#history {
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 20px;
}

#output {
    text-align: right;
    height: 60px;
    margin: 10px 20px;
    font-size: 30px;
}

#keyboard {
    height: 400px;
}

.operator, .number, .empty {
    width: 50px;
    height: 50px;
    margin: 15px;
    border-radius: 50px;
    border-width: 0;
    font-weight: bold;
    float: left;
    font-size: 15px;
}

.number, .empty {
    background-color: #eaedef;
}

.number, .operator {
    cursor: pointer;
}

.number:active, .operator:active {
    font-size: 13px;
}

.operator:focus, .number:focus, .empty:focus {
    outline: 0;
}

button:nth-child(4) {
    font-size: 20px;
    background-color: #ac072b;
}
button:nth-child(8) {
    font-size: 20px;
    background-color: #ac072b;
}
button:nth-child(12) {
    font-size: 20px;
    background-color: #ac072b;
}
button:nth-child(16) {
    font-size: 20px;
    background-color: #ac072b;
}

button:nth-child(20) {
    font-size: 20px;
    background-color: #5a0316;
}